BUILD_CONFIGURATION=development

MYSQL_DATABASE=house_manager
MYSQL_USER=housemanager
MYSQL_PASSWORD=housemanager
MYSQL_ROOT_PASSWORD=root

SPRING_DATASOURCE_USERNAME=housemanager
SPRING_DATASOURCE_PASSWORD=housemanager